{{extend 'layout.html'}}

{{logged_in = auth.user_id is not None}}

<script src="https://unpkg.com/masonry-layout@4.1/dist/masonry.pkgd.min.js"></script>
<script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>
<style>

    .grid-item .thumbnail {
        overflow: hidden;
    }
    .grid-item .thumbnail img {
        width: 100%;
    }
    /* fluid 5 columns */
    .grid-item {
        padding: 5px;
        width: 50%;
        float: left;
    }
    @media screen and (min-width: 568px) {
        .grid-item { width: 20%; }
    }
}
</style>

<script>
    // init Masonry
    var $grid = $('.grid').masonry({
        itemSelector: '.grid-item'
    });
    $('.jumbotron').hide();
    // layout Masonry after each image loads
    
    $('.grid').imagesLoaded( function() {
      $grid.masonry('layout');
      console.log('did the thing');
    });
    
</script>

<div class="jumbotron">
    <h1>Welcome{{=(' ' + auth.user.first_name + '.') if logged_in else '!'}}</h1>
    <p>This is the homepage. There is nothing here yet, but later on we will put information here.</p>
    {{if not logged_in:}}
    <p><a class="btn btn-primary btn-lg" href="{{=URL('default', 'user/login')}}" role="button">Sign up or login</a></p>
    {{pass}}
</div>

<h2>Popular products</h2>
<div class="grid" data-masonry='{ "itemSelector": ".grid-item"}'>
    {{for product in products:}}
    <div class="grid-item">
        <div class="thumbnail" onclick="window.location='{{=URL('product', args=product.id)}}'" >
            <img src="{{=URL('download', args=product.image)}}" />
            <div class="caption">
                <h4>{{=product.name}}</h4>
            </div>
        </div>
        <!--div class="panel panel-default">
            <div class="panel-body" onclick="window.location='{{=URL('product', args=product.id)}}'">
                <div class="media">
                    {{if product.image != '':}}
                    <div class="media-left">
                        <img class="media-object" src="{{=URL('download', args=product.image)}}" style="width:100px"/>
                    </div>
                    {{pass}}
                    <div class="media-body">
                        <h4 class="media-heading clearfix">
                            <span class="pull-right label label-success" style="display:inline-block">
                                ${{=product.price}}
                            </span>
                            <span class="pull-left">{{=product.name}}</span>
                        </h4>
                        {{=product.description}}
                    </div>
                </div>
            </div>
            <div class="panel-footer clearfix">
                <span class="pull-left" onclick="window.location='{{=URL('store', args=product.user_id)}}'">
                    Posted by {{=product.username}}
                    <small>#{{=product.user_id}}</small> on {{=product.created_on}}
                </span>
                <span class="pull-right">

                </span>
            </div>
        </div-->
    </div>
    {{pass}}
</div>
