{{extend 'layout.html'}}

<div class="jumbotron">
    <h1>Welcome!</h1>
    <p>This is the homepage. There is nothing here yet, but later on we will put information here.</p>
    <p><a class="btn btn-primary btn-lg" href="user/login?_next=/" role="button">Sign up or login</a></p>
</div>

<h2>Popular stores</h2>
<div class="row">
{{for store in stores:}}
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{=store['store_name']}}</h3>
            </div>
            <div class="panel-body">
                Username: {{=store['store_uname']}}
            </div>
        </div>
    </div>
{{pass}}
</div>