{{extend 'layout.html'}}

{{logged_in = auth.user_id is not None}}

<style>
    #product-view {
        max-width: 1000px;
        margin: auto;
    }
    #product-image {
        max-width: 400px;
        overflow: hidden;
        margin: auto;
    }
    #product-image img {
        width: 100%;
    }
    #product-edit {
        display: none;
    }
    #product-sidebar {
        padding: 10px
    }
    .grid-item .thumbnail {
        overflow: hidden;
        background-color: white;
        max-width: 400px;
        margin: auto;
    }
    .grid-item .thumbnail img {
        width: 100%;
    }
    .product-price, .product-user {
        font-size: 100%;
    }
</style>

{{if page_type == 'create':}}
<div class="row">
    <div class="jumbotron col-lg-4">
        <h1>Add a product</h1>
        <p>The following information will be displayed along with your submission:</p>
        {{store = auth.user}}
        <p><a class="store-info label label-default" href="{{=URL('store', args=store.id)}}">
            <i class="fa fa-user"></i> {{=id_to_user_name(store.id)}}
            </a></p>
        {{if store.email:}}
        <p><a class="store-info label label-default" href="{{=T('mailto:%s', store.email)}}">
            <i class="fa fa-envelope"></i> {{=store.email}}
            </a></p>
        {{pass}}
        {{if store.phone:}}
        <p><a class="store-info label label-default" href="{{=T('tel:%s', store.phone)}}">
            <i class="fa fa-phone"></i> {{=store.phone}}
            </a></p>
        {{pass}}
        {{
        store.addr = ""
        for item in [store.address, store.city, store.zip]:
        if item: store.addr = store.addr + item + " "
        pass
        }}
        {{if store.addr:}}
        <p><a class="store-info label label-default" href="{{=URL('index', host='maps.google.com', vars={'q':store.addr})}}">
            <i class="fa fa-map-marker"></i> {{=store.addr}}
            </a></p>
        {{pass}}
    </div>
    <div class="col-lg-8">
        {{=form}}
    </div>
</div>
{{else:}}

<div class="page-header">
    <div id="product-loaf">
        <ol class="breadcrumb">
            <li><a href="{{=URL('index')}}">Home</a></li>
            <li><a href="{{=URL('store', args=product.user_id)}}">{{=product.username}}</a></li>
            <li>{{=db.category(product.category).name}}</li>
            <li>{{=product.name}}</li>
        </ol>
    </div>
    <div class="clearfix">
        <h1 class="pull-left">{{=product.name}}</h1>
        <div class="btn-bar pull-right">
            {{if page_type == "edit":}}
            <button class='btn btn-warning edit-button'>
                Edit <i class="fa fa-pencil"></i>
            </button>
            <button class='btn btn-warning edit-button' style='display:none'>
                Cancel <i class="fa fa-times"></i>
            </button>
            <button class='btn btn-danger disable-button'>
                Mark as {{="sold" if product.status else "unsold"}} <i class="fa fa-upload"></i>
            </button>
            {{else:}}
            <button class='btn btn-success'>
                Show interest <i class="fa fa-shopping-bag"></i>
            </button>
            {{pass}}
        </div>
    </div>
</div>
<div id="product-view" class="row">
    <div id="product-image" class="col-md-4">
        {{if product.image != '':}}
        <img class="media-object" src="{{=URL('download', args=product.image)}}"/>
        {{else:}}
        <div style="background-color:#e4e4e4;width:100%;height:200px;font-size:2em;text-align:center;padding:20px">
            <p><i class="fa fa-exclamation-circle"></i> NO IMAGE</p>
        </div>
        {{pass}}
    </div>
    <div id="product-sidebar" class="col-md-8">
        <p>
            <a class="label label-default product-user" href="{{=URL('store', args=product.user_id)}}">
                <i class="fa fa-user"></i> {{=product.username}}
            </a>
        </p>
        <div class="clearfix">
            <p class="label {{='label-success' if product.status else 'label-danger'}} product-price pull-left">
                <i class="fa fa-usd"></i> {{=product.price}} {{='' if product.status else 'sold'}}
            </p>
            <p class="pull-right" title="{{=product.created_on}}"><i class="fa fa-clock-o"></i> {{=pretty_date(product.created_on)}}</p>
        </div>
        <div class="well">
            {{=product.description if product.description != "" else I(T('The product owner has not provided a description.'))}}
        </div>
        {{if not product.status:}}
        <div class="alert alert-danger">
            <i class="fa fa-upload"></i> This product has been marked as sold, and is no longer visible to other users.
        </div>
        {{pass}}
    </div>
</div>
<div id="product-edit" class="row">
    <div class="col-lg-4 grid-item">
        <h4>Currently up</h4>
        <div class="thumbnail">
            {{if product.image != '':}}
            <img src="{{=URL('download', args=product.image)}}"/>
            {{else:}}
            <div style="background-color:#e4e4e4;width:100%;height:200px;font-size:2em;text-align:center;padding:20px">
                <p><i class="fa fa-exclamation-circle"></i> NO IMAGE</p>
            </div>
            {{pass}}
            <div class="caption">
                <h3>{{=product.name}}</h3>
                <div class="clearfix">
                    <p><a class="product-user label label-default" href="{{=URL('store', args=product.user_id)}}">
                        <i class="fa fa-user"></i> {{=product.username}}
                    </a></p>
                </div>
                <div class="clearfix">
                    <p class="label {{='label-success' if product.status else 'label-danger'}} product-price pull-left">
                        <i class="fa fa-usd"></i> {{=product.price}} {{='' if product.status else 'sold'}}
                    </p>
                    <p class="pull-right" title="{{=product.created_on}}"><i class="fa fa-clock-o"></i> {{=pretty_date(product.created_on)}}</p>
                </div>
            </div>
            <div class="well">
                {{=product.description if product.description != "" else I(T('The product owner has not provided a description.'))}}
            </div>
            {{if not product.status:}}
            <div class="alert alert-danger">
                <i class="fa fa-upload"></i> This product has been marked as sold, and is no longer visible to other users.
            </div>
            {{pass}}
        </div>
    </div>
    <div class="col-lg-8">
        {{=form}}
    </div>
</div>
{{pass}}

<script>
    $('.edit-button').click( function() {
        $('#product-view').toggle();
        $('#product-edit').toggle();
        $('.edit-button').toggle();
    });
    $('.disable-button').click( function() {
        var url = window.location.pathname;
        var start = url.lastIndexOf("/") + 1;
        var len = url.indexOf("?");
        var id = -1;
        if (len > 0)
            id = url.substring(start, len);
        else
            id = url.substring(start);
        var toggle_product_status_url = "{{=URL('api', 'toggle_product_status', user_signature=True)}}";
        console.log(toggle_product_status_url + "&product_id=" + id);
        $.post(toggle_product_status_url, {product_id: id}, function(data) { console.log(data); location.reload(); });
    });
</script>
