{{extend 'layout.html'}}

{{logged_in = auth.user_id is not None}}

{{if page_type == 'create':}}
<div class="row">
    <div class="jumbotron col-lg-4">
        <h1>Add a product</h1>
        <p>The following information will be displayed along with your submission:</p>
        <p>
            <span class="label label-default"><i class="fa fa-user"></i>{{=' '.join([auth.user.first_name, auth.user.last_name])}}</span>
        </p>
    </div>
    <div class="col-lg-8">
        {{=form}}
    </div>
</div>

{{else:}}

<style>
    #product-view {
        max-width: 1200px;
        margin: auto;
    }
    #product-image {
        max-width: 400px;
        overflow: hidden;
    }
    #product-image img {
        width: 100%;
    }
    #product-price {
        font-size: 170%;
    }
    #product-edit {
        display: none;
    }
</style>

<div class="page-header clearfix">
    <h1 class='pull-left'>{{=product.name}} <small> by {{=product.username}}</small></h1>
    <span class="pull-right label label-success" id="product-price" style="display:inline-block">
        ${{=product.price}}
    </span>
</div>
<div id="product-bar">
    <ol class="breadcrumb">
        <li><a href="{{=URL('index')}}">Home</a></li>
        <li><a href="{{=URL('store', args=product.user_id)}}">{{=product.username}}</a></li>
        <li>{{=db.category(product.category).name}}</li>
        <li>{{=product.name}}</li>
    </ol>
</div>
<div id="product-view" class="row">
    <div id="product-image" class="col-xs-12 col-md-4">
        {{if product.image != '':}}
        <img class="media-object" src="{{=URL('download', args=product.image)}}"/>
        {{pass}}
    </div>
    <div id="product-sidebar" class="col-xs-12 col-md-8">
        <p>
            {{=product.description if product.description != "" else I(T('The product owner has not provided a description.'))}}
        </p>
        {{if page_type == "edit":}}
        <div class="btn-bar">
            <div class='btn btn-warning edit_button'>
                Edit
            </div>
            <div class='btn btn-danger disable_button'>
                Mark as {{="sold" if product.status else "unsold"}}
            </div>
        </div>
        {{pass}}
    </div>
    <!--div class="media">
        {{if product.image != '':}}
        <div class="media-left" id="product-image">
            <img class="media-object" src="{{=URL('download', args=product.image)}}"/>
        </div>
        {{pass}}
        <div class="media-body">
            <h4 class="media-heading clearfix">
                
            </h4>
            {{if page_type == 'edit':}}
            {{pass}}
            <p>
                Posted by {{=product.username}} <small>#{{=product.user_id}}</small> on {{=product.created_on}}
            </p>
        </div>
    </div-->
</div>
<div id="product-edit">
    {{=form if form is not None else T('ERROR LOADING FORM')}}
</div>
{{pass}}

<script>
    $('.edit_button').click( function() {
        $('#product-view').toggle();
        $('#product-edit').toggle();
    });
</script>
