{{extend 'layout.html'}}

<div class="searchForm">
    <div class="searchForm_title"> Search: </div>
    <form>
        <select name="search_options">
            <option value="all" selected>All Categories</option>
            <option value="user">Sellers</option>
        </select>
        <input type="text" name="search_key" placeholder="Search.."/>
    </form>
    </br>
</div>

<div id="search_results_div" class="searchResult">
    <div class="searchForm_title"> Results: </div>
        {{=result}}
</div>