{{extend 'layout.html'}}

<!-- Result -->
<div id="search_result_title_div">
    {{if total_results is 1 or 0:}}
        {{=total_results}} result for <strong>{{=search_key}}</strong>
    {{else:}}
        {{=total_results}} results for <strong>{{=search_key}}</strong>
    {{pass}}

</div>

<div id="search_results_div" class="searchResult">
    {{if results:}}
        {{for result in results:}}
        <ul class="result-group">
            <div id="result-group-item">
                <div class="media">
                    <div id="search-result-img-container" class="media-left">
                        {{if result.image != '':}}
                             <a href="{{=URL('default', 'product', args=result.id)}}">
                                 <img id="search-result-img" src="{{=URL('download', args=result.image)}}" />
                             </a>
                        {{else:}}
                            <div style="background-color:#e4e4e4;width:240px;height:150px;font-size:2em;text-align:center;">
                                <p><i class="fa fa-exclamation-circle"></i> NO IMAGE</p>
                            </div>
                        {{pass}}
                    </div>

                    <div id="search-result-content" class="media-body">
                        <div id="search-result-pname">
                            <a href="{{=URL('default', 'product', args=result.id)}}" style="text-decoration:none">
                                {{=result.name}}
                            </a>
                        </div>

                        <div id="search-result-uname-div">
                            <a class="label label-default" href="{{=URL('default', 'store', args=result.user_id)}}" style="text-decoration: none">
                                <i class="fa fa-user"></i>
                                <span id="search-result-uname">{{=result.username}}</span>
                            </a>
                        </div>

                        <div id="search-result-price" class="label label-success">
                            <a href="{{=URL('default', 'product', args=result.id)}}" style="text-decoration: none; color:white">
                                <i class="fa fa-usd"></i> {{=result.price}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </ul>
        {{pass}}

        <!-- pagination -->
        <div id="search_result_pagination" class="center">
            <ul class="pagination">
                {{for p in range(0, num_of_page):}}
                    <li id="result_pg{{=p+1}}" class="page-item">
                        <a href="{{=URL('search', vars=dict(request.get_vars, page=p+1))}}"> {{=p+1}} </a>
                    </li>
                {{pass}}
            </ul>
        </div>
    {{else:}}
        <h2> No Matched Product </h2>
    {{pass}}

</div>

<script>
    $("#result_pg1").addClass("active");

    // set the value of search option and the input field
    // emphasize the current page number in the page number bar
    var parms = window.location.search.substr(1).split('&');
    for (var i=0 ; i<parms.length; i++) {
        var p = parms[i].split('=');

        if (p[0]=="search_key") {
            $("#search_key").val(p[1]);
        }

        if (p[0]=="search_options") {
            var tag = $("a[href='#" + p[1] + "']").parent();
            if (tag.text() != "") {
                $("#search_tag").text(tag.text());
                $('.input-group #search_options').val(p[1]);
            } else {
                $("#search_tag").text("All");
                $('.input-group #search_options').val("all");
            }
        }

        // emphasize the current page number
        if (p[0]=="page" && p[1]>1) {
            page_id = "#result_pg" + p[1];
            $("#result_pg1").removeClass("active");
            $(page_id).addClass("active");
        }
    }
</script>