{{extend 'layout.html'}}

{{if request.args(0) is None:}}
<div class="page-header clearfix">
    <h1 class='pull-left'>All stores</h1>
</div>
<div class="list-group">
    {{for store in stores:}}
    <a class="list-group-item" href="{{=URL(args=store.id)}}">
        {{=T(store.first_name + ' ' + store.last_name)}}
    </a>
    {{pass}}
</div>
{{else:}}
{{store = stores.first()}}
<div class="page-header clearfix">
    <h1 class='pull-left'>{{=T(store.first_name + ' ' + store.last_name) if store is not None else T('')}}</h1>
</div>
<div class="well well-lg">
    <p>id: {{=store.id}}</p>
    <p>first_name: {{=store.first_name}}</p>
    <p>last_name: {{=store.last_name}}</p>
    <p>email: {{=store.email}}</p>
    <p>registration_id: {{=store.registration_id}}</p>
</div>
<h4>
    Recent products
</h4>
<div class="list-group">
    {{for product in products:}}
    <a class="list-group-item" href="{{=URL('product', args=product.id)}}">
        <h4 class="list-group-item-heading">{{=product.name}}</h4>
        <p class="list-group-item-text">{{=product.description}}</p>
    </a>
    {{pass}}
</div>
{{pass}}
