{{extend 'layout.html'}}

{{block head}}

<script xmlns="http://www.w3.org/1999/html">
    var reviews_url = "{{=URL('api', 'get_reviews', vars=dict(id=request.args(0)) )}}";
    var add_review_url = "{{=URL('api', 'add_review', user_signature=True, hash_vars=False, vars=dict(id=request.args(0)) )}}";
    var del_review_url = "{{=URL('api', 'del_review', user_signature=True)}}";
    var edit_review_url = "{{=URL('api', 'edit_review', user_signature=True)}}";
    var update_location_url = "{{=URL('api', 'update_location', user_signature=True)}}";
</script>

{{end}}

<style>
    #stores-list, #vue-div {
        max-width: 1000px;
        margin: auto;
    }
    #map {
        height: 300px;
    }
    .product-price, .store-info {
        font-size: 100%;
    }
</style>

{{if request.args(0) is None:}}
    <div id="vue-div2" style="display:none"></div>
    <div class="page-header clearfix">
        <h1 class='pull-left'>All stores</h1>
    </div>
    <div id="stores-list">
        <div class="list-group">
            {{prev_letter = ""}}
            {{for store in stores:}}
                {{if len(store.first_name) > 0 and prev_letter != store.first_name[0].upper():}}
                    {{prev_letter = store.first_name[0].upper()}}
                    </div>
                    <h4 id="{{=prev_letter}}">{{=prev_letter}}</h4>
                    <div class="list-group">
                {{pass}}
                <div class="list-group-item clearfix">
                    <div class="pull-left">
                        <a class="store-info label label-default" href="{{=URL('store', args=store.id)}}">
                            <i class="fa fa-user"></i> {{=T(store.first_name + ' ' + store.last_name)}}
                        </a>
                    </div>
                    <div class="pull-right">
                        {{if store.email:}}
                        <a class="store-info label label-default" href="{{=T('mailto:%s', store.email)}}">
                            <i class="fa fa-envelope"></i> {{=store.email}}
                        </a>
                        {{pass}}
                        {{if store.phone:}}
                        <a class="store-info label label-default" href="{{=T('tel:%s', store.phone)}}">
                            <i class="fa fa-phone"></i> {{=store.phone}}
                        </a>
                        {{pass}}
                        {{
                        store.addr = ""
                        for item in [store.address, store.city, store.zip]:
                        if item: store.addr = store.addr + item + " "
                        pass
                        }}
                        {{if store.addr:}}
                        <a class="store-info label label-default" href="{{=URL('index', host='maps.google.com', vars={'q':store.addr})}}">
                            <i class="fa fa-map-marker"></i> {{=store.addr}}
                        </a>
                        {{pass}}
                    </div>
                </div>
            {{pass}}
        </div>
    </div>
{{else:}}
    <script src="{{=URL('static', 'js/vue.js')}}" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"></script>
    <script src="{{=URL('static', 'js/default_index.js')}}"></script>

    {{store = stores.first()}}

    <div class="page-header clearfix">
        <h1 class='pull-left'>{{=T(store.first_name + ' ' + store.last_name) if store is not None else T('')}}</h1>
    </div>

    <div id="vue-div" style="display:none" v-cloak>
        <div class="row">
            <div class="col-md-6">
                <h4>
                    <span class="glyphicon glyphicon-user"></span>
                    User info
                </h4>
                {{if store.email:}}
                <p><a class="store-info label label-default" href="{{=T('mailto:%s', store.email)}}">
                    <i class="fa fa-envelope"></i> {{=store.email}}
                </a></p>
                {{pass}}
                {{if store.phone:}}
                <p><a class="store-info label label-default" href="{{=T('tel:%s', store.phone)}}">
                    <i class="fa fa-phone"></i> {{=store.phone}}
                </a></p>
                {{pass}}
                {{
                store.addr = ""
                for item in [store.address, store.city, store.zip]:
                    if item: store.addr = store.addr + item + " "
                pass
                }}
                {{if store.addr:}}
                <p><a class="store-info label label-default" href="{{=URL('index', host='maps.google.com', vars={'q':store.addr})}}">
                    <i class="fa fa-map-marker"></i> {{=store.addr}}
                </a></p>
                {{pass}}
            </div>
            <div class="col-md-6">
                <!--
                 <html>
                    <body onload="initialize()">
                -->
                    <div id="map_canvas" style="width:50%; height:50%"></div>

                    <div id="latlng">
                       <input type="hidden" id="latbox" name="lat" placeholder="Lat">
                       <input type="hidden" id="lngbox" name="lng" placeholder="Long">
                    </div>

                    <div id="location_title">
                        <h4>
                            <span class="glyphicon glyphicon-map-marker"></span>
                            <span>Location</span>
                        </h4>

                        <!-- TBC: limit to only the owner can edit the locaion -->
                        <div v-if="logged_in">
                            <span id="edit_map_btn" class="store-info label label-default" onclick="toggleDrag()">Edit</span>
                            <span id="loc-save-btn" class="store-info label label-primary hidden" v-on:click="update_location()" onclick="toggleDrag()">Update</span>
                            <span id="loc-cancel-btn" class="store-info label label-warning hidden" onclick="toggleDrag()">Cancel</span>
                        </div>

                    </div>
                <!--
                    </body>
                </html>
                -->
                    <div id="map"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h4>Reviews</h4>
                <span v-if="logged_in" v-cloak>
                    <span v-if="!already_reviewed">
                    <div class="button_bar" style="margin-bottom: 10px">
                        <button v-if="!is_adding_review" class="btn btn-danger btn-sm" v-on:click="add_review_button()">
                        Add Review
                        </button>
                    </div></span>
                </span>

                <div v-if="is_adding_review" id="add_review_div" style="margin-bottom: 10px">
                    <form action="#" v-on:submit.prevent="add_review" class="form-horizontal" enctype="multipart/form-data" method="post">

                        <div class="form-group-edit" id="no_table_review_text__row">
                            <div>
                                <input class="form-control string" type="text" name="firstname" v-model="form_review_title" placeholder="Review Title Here" required="required">
                                <star-rating></star-rating>
                                <textarea class="form-control string" required="required" id="no_table_review_text" name="album" type="text" v-model="form_review_description" placeholder="Review Content Here"></textarea>
                                <span class="help-block"></span>
                            </div>
                        </div>

                        <div class="form-group-edit" id="submit_record__row">
                            <input class="btn btn-primary btn-sm" id="add_review_submit" type="submit" value="review"/>
                            <input class="btn btn-warning btn-sm" id="cancelOp" type="button" value="Cancel"  v-on:click="cancel_add()" />
                        </div>
                    </form>
                </div>

                <div class="alert alert-info" role="alert" v-if="!reviews.length">
                    {{=P(I(_class="fa fa-flag"), T(" This user has not been reviewed"))}}
                </div>
                <div v-for="review in reviews" class="panel panel-default">
                    <div class="panel-heading">
                        <star-rating :value="review.vote" :disabled="true" style="display: inline-block !important;"></star-rating>
                        <h4 style="display: inline-block !important; font-weight: bold !important;">${review.title}</h4> by
                        ${review.current_user_name}
                    </div>
                    <div class="panel-body">
                    <p class="alignleft">${review.description}</p><br/>
                    <p v-if="!(being_edited == review._idx)" class="alignleft">${review.description}</p><br/>
                    <div v-if="!(being_edited == review._idx)" id="edit_review_div">
                        <form action="#" v-on:submit.prevent="edit_review(review._idx)" class="form-horizontal" enctype="multipart/form-data" method="post">

                            <div class="formEdit" id="no_table_review_text__row">
                                <div>
                                    <textarea class="form-control string" id="no_table_review_text" name="album" type="text" v-model="form_edit_text" placeholder="Post Content Here">
                                    </textarea>
                                    <span class="help-block"></span>
                                </div>
                            </div>

                            <div class="formEdit" id="submit_record__row">
                                <input class="btn btn-primary btn-sm" id="edit_review_submit" type="submit" value="Edit"/>
                                <input class="btn btn-warning btn-sm" id="cancelOp" type="button" value="Cancel"  v-on:click="cancel_edit()" />
                            </div>
                        </form>
                    </div>

                    <div v-if="current_user==review.id">
                        <i class="fa fa-pencil fa-2x" aria-hidden="true" style="float:right" v-on:click="select_review(review.reviewed_id, current_user)"></i>
                        <i class="fa fa-trash-o fa-2x" style="float:right; padding-right: 15px" v-on:click="delete_review(review.reviewed_id, current_user)"></i>
                    </div>
                    <div>
                        <span v-bind:title="review.created_on">Posted ${review.created_on_readable}</span>
                    </div>
                    </div>
                </div>
                <div v-if="has_more" class="show_more">
                    <button class="btn btn-default" v-on:click="get_more()">Load more</button>
                </div>
            </div>

            <div class="col-md-6">
                <h4>Recent products</h4>
                <div class="list-group">
                    {{if len(products) == 0:}}
                        <div class="alert alert-info" role="alert">
                            {{=P(I(_class="fa fa-flag"), T(" This user has not posted any products"))}}
                        </div>
                    {{pass}}
                    {{for product in products:}}
                    <a class="list-group-item" href="{{=URL('product', args=product.id)}}">
                        <h4 class="list-group-item-heading">{{=product.name}}</h4>
                        <div class="clearfix list-group-item-text">
                            <p class="label {{='label-success' if product.status else 'label-danger'}} product-price pull-left">
                                <i class="fa fa-usd"></i> {{=product.price}} {{='' if product.status else 'sold'}}
                            </p>
                            <p class="pull-right" title="{{=product.created_on}}"><i class="fa fa-clock-o"></i> {{=pretty_date(product.created_on)}}</p>
                        </div>
                    </a>
                    {{pass}}
                </div>
            </div>
         </div>
    </div>
{{pass}}

<script>
    var marker;

    function toggleDrag() {
      if (marker.get("draggable")) {
            marker.set("draggable", false);
            $("#edit_map_btn").removeClass('hidden');
            $("#loc-save-btn").addClass('hidden');
            $("#loc-cancel-btn").addClass('hidden');
      } else {
            marker.set("draggable", true);
            $("#edit_map_btn").addClass('hidden');
            $("#loc-save-btn").removeClass('hidden');
            $("#loc-cancel-btn").removeClass('hidden');
      }
    }

    function initMap() {
        var LatLng = {lat: 36.9741, lng: -122.0308};
        console.log(add_review_url);
        var map = new google.maps.Map(document.getElementById('map'), {
            center: LatLng,
            zoom: 13,
            mapTypeId: 'roadmap'
        });


        //var infoWindow = new google.maps.InfoWindow({map: map});

        // Try HTML5 geolocation.
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                var pos = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };

                 marker = new google.maps.Marker({
                    position: pos,
                    map: map,
                    draggable: false,
                    animation: google.maps.Animation.DROP,
                    title: 'Marker!!!'
                });

                document.getElementById("latbox").value = pos.lat;
                document.getElementById("lngbox").value = pos.lng;

                google.maps.event.addListener(marker, 'dragend', function (event) {
                    document.getElementById("latbox").value = this.getPosition().lat();
                    document.getElementById("lngbox").value = this.getPosition().lng();
                });

                //infoWindow.setPosition(pos);
                //infoWindow.setContent('I am currently here!');
                map.setCenter(pos);
            }, function() {
                handleLocationError(true, infoWindow, map.getCenter());
            });
        } else {
            // Browser doesn't support Geolocation
            handleLocationError(false, infoWindow, map.getCenter());
        }
    }

    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
    }
</script>


<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAXWWgYnWvNpdw3jlNOWXAZ80bKUWQPOWM&callback=initMap">
</script>

