/* line 1, ../sass/_main.scss */
.colorful {
  color: #bb8833;
}

.scrollable-menu {
    height: auto;
    max-height: 300px;
    overflow-x: hidden;
    overflow: auto;
}

.scrollable-menu::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 4px;
}

.scrollable-menu::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: lightgray;
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.75);
}

div#search_result_title_div {
  padding: 5px;
  border-bottom: 1px solid #e4e4e4;
  font-size: small;
}

div#search_results_div {
  margin: 15px 50px 60px 50px;
}

div#result-group-item {
  height: 170px;
  border-bottom: 1px solid #e4e4e4;
}

img#search-result-img {
  object-fit: contain;
  object-position: top;
  width: 240px;
  height: 150px;
}

div#search-result-subtitle {
  color: #808080;
  font-size: 12px;
}

div#search-result-pname {
  color: #0654ba;
  font-size: 22px;
}

div#search-result-uname-div {
  margin: 3px 0px 8px 0px;
}

span#search-result-uname {
  color: white;
  font-size: 13px;
  margin-bottom: 7px;
}

div#search-result-price {
  font-size: 13px;
}

/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
  transition: all .4s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-active {
  padding-left: 10px;
  opacity: 0;
}

.star-rating__checkbox {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.star-rating__star {
  display: inline-block;
  padding: 3px;
  vertical-align: middle;
  line-height: 1;
  font-size: 1.5em;
  color: #ABABAB;
  transition: color .2s ease-out;
}

.star-rating__star:hover {
  cursor: pointer;
}

.star-rating__star.is-selected {
  color: #FFD700;
}

.star-rating__star.is-disabled:hover {
  cursor: default;
}

[v-cloak] {display: none}

div#location_title {
  margin-bottom: 10px;
}

body {
    font-family: 'Josefin Sans', sans-serif;
}

body p {
    font-family: 'Roboto', sans-serif;
}
