/* line 1, ../sass/_main.scss */
.colorful {
  color: #bb8833;
}

div#search_results_div {
  margin: 15px 50px 60px 50px;
}

div#result-group-item {
  height: 170px;
  border-bottom: 1px solid #e4e4e4;
}

img#search-result-img {
  object-fit: contain;
  object-position: top;
  width: 240px;
  height: 150px;
}

div#search-result-pname {
  color: #0066c0;
  font-size: 19px;
}

div#search-result-uname {
  color: #555555;
  font-size: 11px;
  margin-bottom: 5px;
}

div#search-result-price {
  font-size: 13px;
}